* {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Gaegu', cursive;
  background: lightyellow;

}

.container {
  width: min(90%, 600px);
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  
}

h1 {
  font-size: 3em;
  font-weight: 700;
  padding: 1rem 0;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  padding: 1rem 0;
} 

h3 {
  font-size: 2em;
  font-weight: 700;
  padding: 1rem 0;
}

h4 {
  font-size: 2em;
  font-weight: 700;
  padding: 1rem 0;
} 

textarea {
  font-family: 'Roboto Mono', monospace;
  border: 3px solid black;
  width: 100%;
  height: 200px;
  background: hsl(195, 53%, 90%);
  padding: 10px;
}

textarea:disabled {
  background-color: hsl(0, 2%, 55%);
}

button {
  font-family: inherit;
  font-size: 2em;
  border: none;
  background: lightgreen;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  background: hsl(120, 73%, 90%);
  cursor: not-allowed;
}


.outerContainer {
  position: relative;
  min-height: 100vh;
}

.results {
  padding-bottom: 100px;
}


/* Footer */
.footer {
  background-color: #f1c5c5;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.logo {
  width: 200px;
  padding: 10px 30px;
}
